<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>注册</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field floatLabel="never" class="full-width">
        <input matInput type="text" placeholder="您的email">
      </mat-form-field>
      <mat-form-field floatLabel="never" class="full-width">
        <input matInput type="text" placeholder="姓名">
      </mat-form-field>
      <mat-form-field floatLabel="never" class="full-width">
        <input matInput type="password" placeholder="您的密码">
      </mat-form-field>
      <mat-form-field floatLabel="never" class="full-width">
        <input matInput type="password" placeholder="重复密码">
      </mat-form-field>

      <mat-grid-list cols="6" rowHeight="1:1">
        <mat-grid-tile *ngFor="let item of items">
          <mat-icon class="avatar" [svgIcon]="item" ></mat-icon>
        </mat-grid-tile>

      </mat-grid-list>

      <button mat-raised-button color="primary" type="button">注册</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>已有账户 <a href="">登陆</a></p>
      <p>忘记密码 <a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>
</form>
