.card{
  height: 360px;
  flex: 0 0 360px;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fab-buttom{
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}
