.fab-buttom{
  position: fixed;
  right: 32px;
  bottom: 96px;
  z-index: 998;
}

.task-lists{
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.list-container{
  // 定义每个列表的宽度是360，y可以 滚钉
  margin-left: 5px;
  flex: 0 0 360px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.drag-enter{
  background-color: dimgray;
}
