<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>登陆</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field floatLabel="never" class="full-width">
        <input matInput type="text" placeholder="您的email">
      </mat-form-field>
      <mat-form-field floatLabel="never" class="full-width">
        <input matInput type="password" placeholder="您的密码">
      </mat-form-field>
      <button mat-raised-button button type="button">登陆</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有账户 <a href="">注册</a></p>
      <p>忘记密码 <a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>
        每日佳句
      </mat-card-title>
      <mat-card-subtitle>
        方向往往比努力更重要，所以找准方向。
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/quote_fallback.jpg" alt="">
    <mat-card-content>
      The direction is more important than hard work.
    </mat-card-content>
  </mat-card>


</form>
