<mat-list-item class="container"
               [@item]="widerPriority"
               [ngClass]="{
    'priority-normal': item.priority === 3 ,
    'priority-import': item.priority === 2 ,
    'priority-emergency': item.priority === 1
  }"
               [appDraggable]="true"
               [draggedClass]="'drag-start'"
               (click)="onItemClick()">
  <mat-checkbox [checked]="item.completed" class="completion-status" (click)="onCheckBoxClick($event)" >
  </mat-checkbox>
  <div class="content" matLine [ngClass]="{'completed': item.completed}" >
    <span [matTooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div class="buttom-bar" matLine>
    <span class="due-date" *ngIf="item.dueDate">
      {{item.dueDate | date: "yy-MM-dd"}}
    </span>
    <mat-icon *ngIf="item.reminder">alarm</mat-icon>
  </div>
  <mat-icon [svgIcon]="avatar" mat-list-avatar class="avatar"></mat-icon>
</mat-list-item>
